<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanghuiwen.user.dao.EventPictureMapper">
  <resultMap id="BaseResultMap" type="com.wanghuiwen.user.model.EventPicture">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="picture_id" jdbcType="BIGINT" property="pictureId" />
    <result column="event_id" jdbcType="BIGINT" property="eventId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>

  <delete id="deleteByEvent">
    delete  from event_picture where event_id = #{eventId}
  </delete>
</mapper>