<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanghuiwen.user.dao.NotificationUserMapper">
  <resultMap id="BaseResultMap" type="com.wanghuiwen.user.model.NotificationUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="notification_id" jdbcType="BIGINT" property="notificationId" />
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>

  <select id="selectByUser" resultMap="BaseResultMap">
    select  * from notification_user where user_id = #{userId} and notification_id =#{notificationId}
    </select>

  <update id="updateByUser">
    update notification_user set notification_id = #{notificationId},user_id = #{userId},status=#{status} where notification_id = #{notificationId} and user_id = #{userId}
  </update>
</mapper>