<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanghuiwen.user.dao.NotificationGroupMapper">
  <resultMap id="BaseResultMap" type="com.wanghuiwen.user.model.NotificationGroup">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="notification_id" jdbcType="INTEGER" property="notificationId" />
    <id column="group_id" jdbcType="INTEGER" property="groupId" />
  </resultMap>

  <delete id="deleteByNotification">
    delete from notification_group where notification_id = #{notificationId}
    </delete>
</mapper>