<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanghuiwen.user.dao.SliderGradeMapper">
  <resultMap id="BaseResultMap" type="com.wanghuiwen.user.model.SliderGrade">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="slider_id" jdbcType="INTEGER" property="sliderId" />
    <id column="grade_id" jdbcType="INTEGER" property="gradeId" />
  </resultMap>

  <delete id="deleteBySlider">
    delete from slider_grade where slider_id = #{sliderId}
    </delete>
</mapper>