<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanghuiwen.user.dao.UserFollowMapper">
  <resultMap id="BaseResultMap" type="com.wanghuiwen.user.model.UserFollow">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="follow_id" jdbcType="BIGINT" property="followId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="follow_user_id" jdbcType="BIGINT" property="followUserId" />
  </resultMap>

  <delete id="deleteFollow">
    delete  from  user_follow where follow_user_id = #{id} and user_id= #{userId}
    </delete>
</mapper>