<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanghuiwen.ecommerce.dao.CommoditySkuAttrMapper">
  <resultMap id="BaseResultMap" type="com.wanghuiwen.ecommerce.model.CommoditySkuAttr">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="commodity_sku_id" jdbcType="BIGINT" property="commoditySkuId" />
    <id column="specs_attribute_id" jdbcType="BIGINT" property="specsAttributeId" />
    <id column="specs_value_id" jdbcType="BIGINT" property="specsValueId" />
  </resultMap>

  <delete id="deleteBySpec">
    delete from commodity_sku_attr where commodity_sku_id = #{specsId}
  </delete>
</mapper>