<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanghuiwen.ecommerce.dao.CommoditySlideMapper">
  <resultMap id="BaseResultMap" type="com.wanghuiwen.ecommerce.model.CommoditySlide">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="slide_id" jdbcType="BIGINT" property="slideId" />
    <result column="commodity_id" jdbcType="BIGINT" property="commodityId" />
    <result column="resource_url" jdbcType="VARCHAR" property="resourceUrl" />
    <result column="resource_type" jdbcType="TINYINT" property="resourceType" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
  </resultMap>

  <select id="findByCommodityId" resultMap="BaseResultMap">
    select  * from commodity_slide where commodity_id  = #{commodityId}
    </select>
</mapper>