<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanghuiwen.ecommerce.dao.MerchantMapper">
  <resultMap id="BaseResultMap" type="com.wanghuiwen.ecommerce.model.Merchant">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="merchant_id" jdbcType="BIGINT" property="merchantId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="business" jdbcType="TINYINT" property="business" />
    <result column="merchant_contact" jdbcType="VARCHAR" property="merchantContact" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="manager_id" jdbcType="BIGINT" property="managerId" />
  </resultMap>

  <select id="list" resultMap="BaseResultMap">
    select * from merchant where 1=1
    <if test="params.name != null and params.name != ''">
      and name like concat('%',#{params.name},'%')
    </if>
  </select>

  <select id="selectByManagerId" resultMap="BaseResultMap">
    select  * from merchant where manager_id = #{id}
    </select>
</mapper>