<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanghuiwen.base.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.wanghuiwen.base.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="enable" jdbcType="BIT" property="enable" />
    <result column="expired_time" jdbcType="BIGINT" property="expiredTime" />
    <result column="credentials_expired_time" jdbcType="BIGINT" property="credentialsExpiredTime" />
    <result column="locked" jdbcType="BIT" property="locked" />
    <result column="push_id" jdbcType="VARCHAR" property="pushId" />
  </resultMap>

    <resultMap id="auth" type="com.wanghuiwen.core.config.AuthUser">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="login_name" jdbcType="VARCHAR" property="userName" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="enable" jdbcType="BIT" property="enable" />
        <result column="expired_time" jdbcType="BIGINT" property="expiredTime" />
        <result column="credentials_expired_time" jdbcType="BIGINT" property="expiredTime" />
        <result column="locked" jdbcType="BIT" property="lock" />
        <result column="grade_id" jdbcType="INTEGER" property="grade" />
        <result column="picture" jdbcType="VARCHAR" property="avatar" />
        <result column="name" jdbcType="VARCHAR" property="nickName" />
        <result column="position_id" jdbcType="INTEGER" property="position" />
        <result column="position_name" jdbcType="VARCHAR" property="positionName" />
        <result column="create_event" jdbcType="BIT" property="createEvent" />
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        select * from user where 1=1
        <if test="params.nickName!=null and params.nickName!=''">
            and nick_name = #{params.nickName}
        </if>
        <if test="params.id!=null and params.id!=''">
            and id = #{params.id}
        </if>
        <if test="params.loginName!=null and params.loginName!=''">
            and login_name = #{params.loginName}
        </if>
        <if test="params.roleId!=null and params.roleId!=''">
            and EXISTS(SELECT * from user_role WHERE user_role.user_id = user.id and user_role.role_id =
            #{params.roleId})
        </if>
        order by id desc
    </select>

    <delete id="deleteRoleById">
        DELETE
        FROM user_role
        WHERE user_id = #{userId}
    </delete>

    <delete id="deleteRoleByIdNoAdmin">
        DELETE
        FROM user_role
        WHERE user_id = #{userId}
          and not EXISTS(SELECT * from role WHERE dept_id = 1 and role.id = user_role.role_id)
    </delete>

    <select id="getByDepartment" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        user
        WHERE
        EXISTS (
        SELECT
        *
        FROM
        user_role
        WHERE
        user_role.user_id = user.id
        AND EXISTS ( SELECT * FROM role WHERE role.id = user_role.role_id AND

        role.dept_id in
        <foreach close=")" collection="list" index="index" item="id" open="(" separator=",">
            #{id}
        </foreach>
        ))
    </select>

  <select id="findAuthUser" resultMap="auth">
      SELECT a.*,ui.`name`,ui.grade_id,ui.picture,p.* from (SELECT * from user where login_name = #{s}) a
       LEFT JOIN user_info ui on (ui.user_id = a.id )
       left join position p on(p.position_id = ui.position_id)
    </select>

  <update id="setPushToken">
      update user set push_id = #{pushToken} where id = #{id}
    </update>
</mapper>